body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
  color: #333;
}
header h1 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
thead {
  background: #0b84ff;
  color: white;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
tr:nth-child(even) {
  background: #fcfcfc;
}
